In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../titles.tsv', sep='\t', header=None, names="tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres".split(","))
df

c:\python37\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
6236162,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
6236163,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
6236164,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
6236165,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
6236166,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [3]:
df = df[(df["startYear"] != "\\N") & (df["titleType"] != "\\N") & (df["genres"] != "\\N") & (df["primaryTitle"]!="\\N")]
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
6236162,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
6236163,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
6236164,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
6236165,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
6236166,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [5]:
df['startYear'] = df['startYear'].astype(int)

c:\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
df = df[(1900 <= df["startYear"]) & (df["startYear"] <= 1999) & (df["titleType"] == "movie")]
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
332,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama"
571,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama"
611,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
626,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
669,tt0000675,movie,Don Quijote,Don Quijote,0,1908,\N,\N,Drama
...,...,...,...,...,...,...,...,...,...
6235578,tt9915592,movie,A Husband to Rent,Shohar-e kerayei,0,1974,\N,\N,Comedy
6235731,tt9915946,movie,Nuestra pelÃ­cula,Nuestra pelÃ­cula,0,1993,\N,96,Documentary
6235785,tt9916058,movie,"Cali: ayer, hoy y maÃ±ana","Cali: ayer, hoy y maÃ±ana",0,1995,\N,250,Documentary
6235815,tt9916124,movie,Mucho gusto,Mucho gusto,0,1997,\N,108,Documentary
6235833,tt9916162,movie,Making of 'La Virgen de los sicarios',Making of 'La Virgen de los sicarios',0,1999,\N,45,Documentary

In [7]:
dfr = pd.read_csv('../title.ratings.tsv', sep='\t', header=0, dtype={"rating": float, "votes": int})
dfr

           tconst  averageRating  numVotes
0       tt0000001            5.6      1540
1       tt0000002            6.1       186
2       tt0000003            6.5      1201
3       tt0000004            6.2       114
4       tt0000005            6.1      1914
...           ...            ...       ...
981729  tt9916576            5.9         7
981730  tt9916578            9.1        11
981731  tt9916720            5.2        39
981732  tt9916766            6.6        10
981733  tt9916778            6.9        16

[981734 rows x 3 columns]

In [43]:
dfm = pd.merge(dfr, df,  how='left', on="tconst")
dfm

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,5.6,1540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0000002,6.1,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0000003,6.5,1201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0000004,6.2,114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0000005,6.1,1914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
981729,tt9916576,5.9,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981730,tt9916578,9.1,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981731,tt9916720,5.2,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981732,tt9916766,6.6,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981733,tt9916778,6.9,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
dfm = dfm.dropna()
dfm

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
249,tt0000335,6.1,40,movie,Soldiers of the Cross,Soldiers of the Cross,0.0,1900.0,\N,\N,"Biography,Drama"
357,tt0000574,6.1,533,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,\N,70,"Biography,Crime,Drama"
375,tt0000615,4.8,14,movie,Robbery Under Arms,Robbery Under Arms,0.0,1907.0,\N,\N,Drama
382,tt0000630,2.7,10,movie,Hamlet,Amleto,0.0,1908.0,\N,\N,Drama
410,tt0000675,4.2,9,movie,Don Quijote,Don Quijote,0.0,1908.0,\N,\N,Drama
...,...,...,...,...,...,...,...,...,...,...,...
978074,tt9686178,9.9,76,movie,The Best Years Ever,U najboljim godinama,0.0,1994.0,\N,78,Documentary
978673,tt9731436,5.9,14,movie,L'Atlantide,L'Atlantide,0.0,1932.0,\N,81,"Adventure,Drama"
979809,tt9799878,1.7,12,movie,The Hunchback of Notre Dame,GlÃ¶ckner von Notre Dame,0.0,1996.0,\N,65,Animation
980320,tt9828802,7.3,7,movie,Vaya luna de miel,Vaya luna de miel,0.0,1980.0,\N,93,"Adventure,Comedy"
980740,tt9859786,9.0,6,movie,Rory Gallagher: Irish Tour '74,Rory Gallagher: Irish Tour '74,0.0,1974.0,\N,84,Documentary

In [45]:
dfm['genres'] = dfm['genres'].str.split(',')
dfm

c:\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
249,tt0000335,6.1,40,movie,Soldiers of the Cross,Soldiers of the Cross,0.0,1900.0,\N,\N,"[Biography, Drama]"
357,tt0000574,6.1,533,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,\N,70,"[Biography, Crime, Drama]"
375,tt0000615,4.8,14,movie,Robbery Under Arms,Robbery Under Arms,0.0,1907.0,\N,\N,[Drama]
382,tt0000630,2.7,10,movie,Hamlet,Amleto,0.0,1908.0,\N,\N,[Drama]
410,tt0000675,4.2,9,movie,Don Quijote,Don Quijote,0.0,1908.0,\N,\N,[Drama]
...,...,...,...,...,...,...,...,...,...,...,...
978074,tt9686178,9.9,76,movie,The Best Years Ever,U najboljim godinama,0.0,1994.0,\N,78,[Documentary]
978673,tt9731436,5.9,14,movie,L'Atlantide,L'Atlantide,0.0,1932.0,\N,81,"[Adventure, Drama]"
979809,tt9799878,1.7,12,movie,The Hunchback of Notre Dame,GlÃ¶ckner von Notre Dame,0.0,1996.0,\N,65,[Animation]
980320,tt9828802,7.3,7,movie,Vaya luna de miel,Vaya luna de miel,0.0,1980.0,\N,93,"[Adventure, Comedy]"
980740,tt9859786,9.0,6,movie,Rory Gallagher: Irish Tour '74,Rory Gallagher: Irish Tour '74,0.0,1974.0,\N,84,[Documentary]

In [46]:
dfm = dfm.explode("genres")
dfm

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
249,tt0000335,6.1,40,movie,Soldiers of the Cross,Soldiers of the Cross,0.0,1900.0,\N,\N,Biography
249,tt0000335,6.1,40,movie,Soldiers of the Cross,Soldiers of the Cross,0.0,1900.0,\N,\N,Drama
357,tt0000574,6.1,533,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,\N,70,Biography
357,tt0000574,6.1,533,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,\N,70,Crime
357,tt0000574,6.1,533,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,\N,70,Drama
...,...,...,...,...,...,...,...,...,...,...,...
978673,tt9731436,5.9,14,movie,L'Atlantide,L'Atlantide,0.0,1932.0,\N,81,Drama
979809,tt9799878,1.7,12,movie,The Hunchback of Notre Dame,GlÃ¶ckner von Notre Dame,0.0,1996.0,\N,65,Animation
980320,tt9828802,7.3,7,movie,Vaya luna de miel,Vaya luna de miel,0.0,1980.0,\N,93,Adventure
980320,tt9828802,7.3,7,movie,Vaya luna de miel,Vaya luna de miel,0.0,1980.0,\N,93,Comedy
980740,tt9859786,9.0,6,movie,Rory Gallagher: Irish Tour '74,Rory Gallagher: Irish Tour '74,0.0,1974.0,\N,84,Documentary

In [47]:
dfm["startYear"] = dfm["startYear"].astype('int').astype("str").str[2] # convert to decade
dfm

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
249,tt0000335,6.1,40,movie,Soldiers of the Cross,Soldiers of the Cross,0.0,0,\N,\N,Biography
249,tt0000335,6.1,40,movie,Soldiers of the Cross,Soldiers of the Cross,0.0,0,\N,\N,Drama
357,tt0000574,6.1,533,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,0,\N,70,Biography
357,tt0000574,6.1,533,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,0,\N,70,Crime
357,tt0000574,6.1,533,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,0,\N,70,Drama
...,...,...,...,...,...,...,...,...,...,...,...
978673,tt9731436,5.9,14,movie,L'Atlantide,L'Atlantide,0.0,3,\N,81,Drama
979809,tt9799878,1.7,12,movie,The Hunchback of Notre Dame,GlÃ¶ckner von Notre Dame,0.0,9,\N,65,Animation
980320,tt9828802,7.3,7,movie,Vaya luna de miel,Vaya luna de miel,0.0,8,\N,93,Adventure
980320,tt9828802,7.3,7,movie,Vaya luna de miel,Vaya luna de miel,0.0,8,\N,93,Comedy
980740,tt9859786,9.0,6,movie,Rory Gallagher: Irish Tour '74,Rory Gallagher: Irish Tour '74,0.0,7,\N,84,Documentary

In [48]:
dfm = dfm.sort_values("primaryTitle")
dfm

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
44228,tt0068152,6.3,2064,movie,$,$,0.0,7,\N,121,Comedy
44228,tt0068152,6.3,2064,movie,$,$,0.0,7,\N,121,Crime
44228,tt0068152,6.3,2064,movie,$,$,0.0,7,\N,121,Drama
37888,tt0060697,6.1,269,movie,"$1,000 on the Black",1000 dollari sul nero,0.0,6,\N,102,Western
10445,tt0027083,7.2,13,movie,$10 Raise,$10 Raise,0.0,3,\N,70,Comedy
...,...,...,...,...,...,...,...,...,...,...,...
119155,tt0183955,4.2,30,movie,ÃœÃ§ tatli bela,ÃœÃ§ tatli bela,0.0,7,\N,\N,Crime
119155,tt0183955,4.2,30,movie,ÃœÃ§ tatli bela,ÃœÃ§ tatli bela,0.0,7,\N,\N,Comedy
130712,tt0208606,7.4,2781,movie,ÃœÃ§Ã¼ncÃ¼ Sayfa,ÃœÃ§Ã¼ncÃ¼ Sayfa,0.0,9,\N,92,Drama
159387,tt0275114,6.2,22,movie,ÃœÃ§Ã¼nÃ¼zÃ¼ de mihlarim,ÃœÃ§Ã¼nÃ¼zÃ¼ de mihlarim,0.0,6,\N,70,Drama
159387,tt0275114,6.2,22,movie,ÃœÃ§Ã¼nÃ¼zÃ¼ de mihlarim,ÃœÃ§Ã¼nÃ¼zÃ¼ de mihlarim,0.0,6,\N,70,Adventure

In [49]:
dfm['averageRating'] = dfm['averageRating'].astype(float)
dfm

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
44228,tt0068152,6.3,2064,movie,$,$,0.0,7,\N,121,Comedy
44228,tt0068152,6.3,2064,movie,$,$,0.0,7,\N,121,Crime
44228,tt0068152,6.3,2064,movie,$,$,0.0,7,\N,121,Drama
37888,tt0060697,6.1,269,movie,"$1,000 on the Black",1000 dollari sul nero,0.0,6,\N,102,Western
10445,tt0027083,7.2,13,movie,$10 Raise,$10 Raise,0.0,3,\N,70,Comedy
...,...,...,...,...,...,...,...,...,...,...,...
119155,tt0183955,4.2,30,movie,ÃœÃ§ tatli bela,ÃœÃ§ tatli bela,0.0,7,\N,\N,Crime
119155,tt0183955,4.2,30,movie,ÃœÃ§ tatli bela,ÃœÃ§ tatli bela,0.0,7,\N,\N,Comedy
130712,tt0208606,7.4,2781,movie,ÃœÃ§Ã¼ncÃ¼ Sayfa,ÃœÃ§Ã¼ncÃ¼ Sayfa,0.0,9,\N,92,Drama
159387,tt0275114,6.2,22,movie,ÃœÃ§Ã¼nÃ¼zÃ¼ de mihlarim,ÃœÃ§Ã¼nÃ¼zÃ¼ de mihlarim,0.0,6,\N,70,Drama
159387,tt0275114,6.2,22,movie,ÃœÃ§Ã¼nÃ¼zÃ¼ de mihlarim,ÃœÃ§Ã¼nÃ¼zÃ¼ de mihlarim,0.0,6,\N,70,Adventure

In [50]:
# dfm.groupby("startYear").agg({'averageRating': ['max'], "primaryTitle" : []}).reset_index()
largest = dfm.groupby("startYear")["averageRating"].nlargest(1)
# largest
dfm.iloc[[i[1] for i in largest.index], :].head(100)

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
5233,tt0019080,6.3,34,movie,The Legion of the Condemned,The Legion of the Condemned,0.0,2,\N,80,Romance
97461,tt0139316,7.3,9,movie,A Hard Act to Swallow,A Hard Act to Swallow,1.0,8,\N,\N,Adult
122248,tt0189899,6.4,41,movie,A Passage thru Pamela,A Passage thru Pamela,1.0,8,\N,80,Drama
112872,tt0171049,3.7,1191,movie,Airspeed,Airspeed,0.0,9,\N,93,Action
48832,tt0073519,4.8,30,movie,Blood River,Dieci bianchi uccisi da un piccolo indiano,0.0,7,\N,93,Romance
53832,tt0079405,6.8,43,movie,The Children from Number 67,Die Kinder aus Nr. 67,0.0,8,\N,103,Family
39667,tt0062830,5.8,325,movie,The Hotshots,Les cracks,0.0,6,\N,110,Sport
20853,tt0040284,5.8,73,movie,Sins of Pompeii,Gli ultimi giorni di Pompei,0.0,5,\N,110,Drama
36896,tt0059517,5.0,40,movie,Non son degno di te,Non son degno di te,0.0,6,\N,116,Romance
222992,tt0422875,4.0,22,movie,Oira sukeban,Oira sukeban,0.0,9,\N,60,Action

In [91]:
max_ratings = dfm.groupby(["startYear", "genres"]).agg({"averageRating": ["max"]}).reset_index()
max_ratings.columns = ["decade", "genres", "max"]
max_ratings

    decade       genres  max
0        0    Adventure  4.8
1        0    Biography  6.1
2        0       Comedy  7.0
3        0        Crime  6.1
4        0  Documentary  7.5
..     ...          ...  ...
219      9       Sci-Fi  8.7
220      9        Sport  8.8
221      9     Thriller  8.8
222      9          War  9.1
223      9      Western  8.7

[224 rows x 3 columns]

In [95]:
with open("task3.csv", "w", encoding="utf-8") as out:
    for index, row in max_ratings.iterrows():
        for _, result in dfm[(dfm["startYear"] == row["decade"]) & (dfm["averageRating"] == row["max"]) & (dfm["genres"] == row["genres"])].sort_values("primaryTitle").iterrows():
            res = "%s|%s|%s" % (row["decade"], row["genres"], result.primaryTitle)
            print(res)
            out.write(res+"\n")
            break

0|Adventure|The Fairylogue and Radio-Plays
0|Biography|Soldiers of the Cross
0|Comedy|The Lady Athlete; or, Jiu Jitsu Downs the Footpads
0|Crime|The Story of the Kelly Gang
0|Documentary|BelgiÃ«
0|Drama|El pastorcito de Torrente
0|Family|The Life of Moses
0|Fantasy|The Fairylogue and Radio-Plays
0|History|Den lille hornblÃ¦ser
0|Music|Faust
0|Musical|Highlights from The Mikado
0|News|May Day Parade
0|Romance|A ViÃºva Alegre
0|Sport|Jeffries and Ruhlin Sparring Contest at San Francisco, Cal., November 15, 1901
0|War|Den lille hornblÃ¦ser
1|Action|Beatrice Fairfax
1|Adult|The Goat
1|Adventure|The Dark Star
1|Animation|Communism
1|Biography|Father Sergius
1|Comedy|Tillie's Tomato Surprise
1|Crime|The Man Beneath
1|Documentary|Ayastefanos'taki Rus abidesinin yikilisi
1|Drama|Cecilia of the Pink Roses
1|Family|Gogi Ratiani
1|Fantasy|The Doll
1|History|Intolerance: Love's Struggle Throughout the Ages
1|Horror|J'accuse!
1|Music|A Musical Moment
1|Musical|Excelsior
1|Mystery|The Vampires: The Thunder Master
1|Romance|Runaway Romany
1|Sci-Fi|Life Without Soul
1|Sport|1915 World's Championship Series
1|Thriller|Barrabas
1|War|On Dangerous Ground
1|Western|The Patriot
2|Action|Sherlock Jr.
2|Adult|Le mÃ©nage moderne de Madame Butterfly
2|Adventure|The Gold Rush
2|Animation|The Adventures of Prince Achmed
2|Biography|The Passion of Joan of Arc
2|Comedy|The Kid
2|Crime|Mist in the Valley
2|Documentary|Hunger... Hunger... Hunger
2|Drama|His Glorious Night
2|Family|The Kid
2|Fantasy|Die Nibelungen: Siegfried
2|Film-Noir|Underworld
2|History|The Passion of Joan of Arc
2|Horror|Faust
2|Music|Man with a Movie Camera
2|Musical|The Five O'Clock Girl
2|Mystery|The Cabinet of Dr. Caligari
2|Romance|His Glorious Night
2|Sci-Fi|Metropolis
2|Sport|The White Stadium
2|Thriller|Greed
2|War|The Big Parade
2|Western|Greed
3|Action|The Roaring Twenties
3|Adventure|Captains Courageous
3|Animation|The Story of the Fox
3|Biography|King August the Strong
3|Comedy|It's a Wise Child
3|Crime|Sweet Mama
3|Documentary|The First World War
3|Drama|Sweet Mama
3|Family|Modern Times
3|Fantasy|The Wizard of Oz
3|Film-Noir|I Am a Fugitive from a Chain Gang
3|History|King August the Strong
3|Horror|Freaks
3|Music|Romance in the Dark
3|Musical|The Merry Widow
3|Mystery|M
3|News|Regal Cavalcade
3|Romance|City Lights
3|Sci-Fi|King Kong
3|Sport|Olympia Part One: Festival of the Nations
3|Thriller|M
3|War|The First World War
3|Western|Stagecoach
4|Action|The Caravan Trail
4|Adventure|The Treasure of the Sierra Madre
4|Animation|Fantasia
4|Biography|Vladimir Ilich Lenin
4|Comedy|Roppa no shinkon ryoko
4|Crime|Double Indemnity
4|Documentary|St. Matthew Passion
4|Drama|La copla de la Dolores
4|Family|Â¡QuÃ© verde era mi padre!
4|Fantasy|It's a Wonderful Life
4|Film-Noir|Double Indemnity
4|History|Laila Majnu
4|Horror|Dead of Night
4|Music|St. Matthew Passion
4|Musical|Laila Majnu
4|Mystery|Citizen Kane
4|Romance|Romeo and Juliet
4|Sci-Fi|Krakatit
4|Sport|The Pittsburgh Kid
4|Thriller|Rome, Open City
4|War|The Story of Tank Commander Nishizumi
4|Western|Stallion Canyon
5|Action|Nufarul rosu
5|Adventure|Seven Samurai
5|Animation|Amazon Symphony
5|Biography|Jagajyothi Basaveshwara
5|Comedy|Maya Bazaar
5|Crime|Do Ankhen Barah Haath
5|Documentary|Robert Mayer - der Arzt aus Heilbronn
5|Drama|Maya Bazaar
5|Family|Maya Bazaar
5|Fantasy|Ordet
5|Film-Noir|Sunset Blvd.
5|History|Robert Mayer - der Arzt aus Heilbronn
5|Horror|Diabolique
5|Music|DÃ­szelÃ¶adÃ¡s
5|Musical|Intezar
5|Mystery|Rear Window
5|News|Out of This World
5|Reality-TV|Kefauver Investigation
5|Romance|Meine 99 BrÃ¤ute
5|Sci-Fi|Invasion of the Body Snatchers
5|Sport|Los peloteros
5|Talk-Show|The Woman's Angle
5|Thriller|Rear Window
5|War|Victory at Sea
5|Western|The Lone Ranger Story
6|Action|Aama
6|Adult|Man & Wife: An Educational Film for Married Adults
6|Adventure|The Adventures of Goopy and Bagha
6|Animation|Havoc in Heaven
6|Biography|Subhas Chandra
6|Comedy|Coche cama alojamiento
6|Crime|Operation 'Y' & Other Shurik's Adventures
6|Documentary|The Inheritance
6|Drama|Kanku
6|Family|Etotuku Asha
6|Fantasy|Der FreischÃ¼tz
6|Game-Show|The Circus
6|History|Sri Krishna Deva Raya
6|Horror|Psycho
6|Music|Der FreischÃ¼tz
6|Musical|Ehsaan
6|Mystery|High and Low
6|Romance|Moina Moti
6|Sci-Fi|2001: A Space Odyssey
6|Sport|Explosion Course
6|Thriller|Le Trou
6|War|The End and the Beginning
6|Western|The Good, the Bad and the Ugly
7|Action|Welikathara
7|Adult|Don't Fight It, Kid
7|Adventure|The Chaos Class Is on Vacation
7|Animation|The Adventures of Pinocchio
7|Biography|Sunseed
7|Comedy|The Adventures of the Jensen Boys
7|Crime|The Godfather
7|Documentary|Remembrance
7|Drama|Bhadar Tara Vehata Paani
7|Family|Jibon Theke Neya
7|Fantasy|Kuwatog
7|History|Tosun Pasa
7|Horror|Alien
7|Music|Across This Land with Stompin' Tom Connors
7|Musical|Nagara Haavu
7|Mystery|The Foster Brothers
7|News|Cup Glory
7|Reality-TV|As Armas e o Povo
7|Romance|Die Winter van 14 Julie
7|Sci-Fi|Alien
7|Short|Qila erbo
7|Sport|The Speed Merchants
7|Talk-Show|Revenge of the Motorcycle Mama
7|Thriller|Chinatown
7|War|Jibon Theke Neya
7|Western|Los doce malditos
8|Action|Jamadagni
8|Adult|Dresden Diary 3
8|Adventure|Le Clandestin
8|Animation|Grave of the Fireflies
8|Biography|Karolos Koun
8|Comedy|Pas vdekjes
8|Crime|The Untouchable Family
8|Documentary|Svet Koji Nestaje
8|Drama|The Season
8|Family|Le Clandestin
8|Fantasy|Chandon Diper Rajkonna
8|History|Philip Guston: A Life Lived
8|Horror|The Shining
8|Music|Juju Music
8|Musical|Chithram
8|Mystery|Voro-Nova
8|Romance|Isla
8|Sci-Fi|Edgar Allan Poe's Plan 13: The House of Elvis
8|Sport|The Blizzard of AAHHH's
8|Thriller|Cheri and the Pirates
8|War|Vendimi
8|Western|Sadiyata
9|Action|Urban Rangers
9|Adult|Girls Loving Girls
9|Adventure|Holding On
9|Animation|Ramayana: The Legend of Prince Rama
9|Biography|Aenigma est
9|Comedy|The Maltese Phallus
9|Crime|Gini Avi Saha Gini Keli
9|Documentary|I Respond to You, God
9|Drama|The Shawshank Redemption
9|Family|Holding On
9|Fantasy|The Green Mile
9|Game-Show|Schlag dein Tier
9|History|Las dudas de Judas y Maria Magdalena
9|Horror|Johnny in Monsterland
9|Music|Musicians in Exile
9|Musical|Manichitrathazhu
9|Mystery|The Adventure of the Disappearing Divan
9|Romance|Isang tanong, isang sagot
9|Sci-Fi|The Matrix
9|Sport|Occy: The Occumentary
9|Thriller|Upendra
9|War|Aguner Poroshmoni
9|Western|Covenant Rider