In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('../titles.tsv', sep='\t', header=None, names="tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres".split(","))
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
6236162,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
6236163,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
6236164,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
6236165,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
6236166,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [13]:
# filter bad duration and genres
df = df[(df["startYear"] != "\\N") & (df["primaryTitle"]!="\\N")]
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
6236162,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
6236163,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
6236164,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
6236165,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
6236166,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [14]:
df['startYear'] = df['startYear'].apply(pd.to_numeric)

c:\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
dfr = pd.read_csv('../title.ratings.tsv', sep='\t', header=0, dtype={"rating": float, "votes": int})
dfr

           tconst  averageRating  numVotes
0       tt0000001            5.6      1540
1       tt0000002            6.1       186
2       tt0000003            6.5      1201
3       tt0000004            6.2       114
4       tt0000005            6.1      1914
...           ...            ...       ...
981729  tt9916576            5.9         7
981730  tt9916578            9.1        11
981731  tt9916720            5.2        39
981732  tt9916766            6.6        10
981733  tt9916778            6.9        16

[981734 rows x 3 columns]

In [24]:
df = df[(1990 <= df["startYear"]) & (df["startYear"] <= 2018) & (df["titleType"] == "movie")]
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
15494,tt0015724,movie,Dama de noche,Dama de noche,0,1993,\N,102,"Drama,Mystery,Romance"
34816,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"
58777,tt0059900,movie,"Wenn du groÃŸ bist, lieber Adam","Wenn du groÃŸ bist, lieber Adam",0,1990,\N,78,"Drama,Fantasy"
63723,tt0064994,movie,Larks on a String,SkrivÃ¡nci na niti,0,1990,\N,94,"Comedy,Drama,Romance"
63914,tt0065188,movie,"Vojtech, receny sirotek","Vojtech, receny sirotek",0,1990,\N,80,Drama
...,...,...,...,...,...,...,...,...,...
6236056,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,\N,\N,Documentary
6236083,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
6236095,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
6236106,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N
6236117,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,\N,Documentary

In [22]:
dfr = dfr[(dfr["averageRating"]>=7.5)  & (dfr["numVotes"]>=50_000)]
dfr

           tconst  averageRating  numVotes
2530    tt0010323            8.1     51163
3004    tt0012349            8.3    100707
3264    tt0013442            7.9     82226
3981    tt0015864            8.2     91428
4467    tt0017136            8.3    147408
...           ...            ...       ...
925484  tt7668870            7.7    111105
928912  tt7767422            8.3     77176
939653  tt8108198            8.4     50277
969875  tt9243946            7.7     74758
975760  tt9561862            8.6     67262

[1157 rows x 3 columns]

In [26]:
res = pd.merge(dfr, df,  how='left', on="tconst")
res

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0010323,8.1,51163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0012349,8.3,100707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0013442,7.9,82226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0015864,8.2,91428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0017136,8.3,147408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1152,tt7668870,7.7,111105,movie,Searching,Searching,0.0,2018.0,\N,102,"Drama,Mystery,Thriller"
1153,tt7767422,8.3,77176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1154,tt8108198,8.4,50277,movie,Andhadhun,Andhadhun,0.0,2018.0,\N,139,"Crime,Thriller"
1155,tt9243946,7.7,74758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1156,tt9561862,8.6,67262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
res = res.dropna()
res

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
279,tt0099077,7.8,114028,movie,Awakenings,Awakenings,0.0,1990.0,\N,121,"Biography,Drama"
280,tt0099348,8.0,224242,movie,Dances with Wolves,Dances with Wolves,0.0,1990.0,\N,181,"Adventure,Drama,Western"
281,tt0099487,7.9,420748,movie,Edward Scissorhands,Edward Scissorhands,0.0,1990.0,\N,105,"Drama,Fantasy,Romance"
282,tt0099674,7.6,331605,movie,The Godfather: Part III,The Godfather Part III,0.0,1990.0,\N,162,"Crime,Drama"
283,tt0099685,8.7,927434,movie,Goodfellas,Goodfellas,0.0,1990.0,\N,146,"Biography,Crime,Drama"
...,...,...,...,...,...,...,...,...,...,...,...
1141,tt6644200,7.5,327330,movie,A Quiet Place,A Quiet Place,0.0,2018.0,\N,90,"Drama,Horror,Sci-Fi"
1143,tt6966692,8.2,249451,movie,Green Book,Green Book,0.0,2018.0,\N,130,"Biography,Comedy,Drama"
1148,tt7349662,7.5,165591,movie,BlacKkKlansman,BlacKkKlansman,0.0,2018.0,\N,135,"Biography,Crime,Drama"
1152,tt7668870,7.7,111105,movie,Searching,Searching,0.0,2018.0,\N,102,"Drama,Mystery,Thriller"
1154,tt8108198,8.4,50277,movie,Andhadhun,Andhadhun,0.0,2018.0,\N,139,"Crime,Thriller"

In [36]:
films = sorted(res.primaryTitle.tolist())

In [40]:
with open("task2.csv", "w", encoding="utf-8") as out:
    for f in films:
        out.write(f+"\n")

In [46]:
with open("res_task2.csv", "r", encoding="utf-8") as inf:
    res_films = sorted([l.strip() for l in  inf.readlines()])

In [48]:
len(set(films)), len(set(res_films))

(617, 618)

In [52]:
print(sorted(set(res_films) - set(films)))

['A History of Violence', 'An Inconvenient Truth', 'Babel', 'Bad Education', 'Best in Show', "Bram Stoker's Dracula", 'Cloud Atlas', 'Elizabeth', 'Equilibrium', 'Everything Is Illuminated', 'Felon', 'Garden State', 'Good Night, and Good Luck.', 'Juno', 'Lady Bird', 'MalÃ¨na', 'Open Range', 'Reign Over Me', 'Spider-Man: Homecoming', 'Star Trek: Into Darkness', 'Star Wars: The Force Awakens', 'Sully', 'Terminator 2', 'The Big-Hearted Will Take the Bride Away', 'The Curse of the Were-Rabbit', "The Devil's Backbone", 'The Disaster Artist', 'The Orphanage', 'Twelve Monkeys', 'War for the Planet of the Apes', 'Wonder Woman', 'X-Men 2', '[Rec]']

In [53]:
print(sorted(set(films) - set(res_films)))

['12 Monkeys', 'A Star Is Born', 'A Time to Kill', 'Andhadhun', 'BlacKkKlansman', 'Bohemian Rhapsody', 'Chaplin', 'Children of Heaven', 'Chungking Express', 'Dilwale Dulhania Le Jayenge', 'Drishyam', 'G.O.R.A.', 'Green Book', 'Kahaani', 'Malena', 'Miss Sloane', 'Night on Earth', 'Roma', 'Rudy', 'Searching', 'Spider-Man: Into the Spider-Verse', 'Star Trek Into Darkness', 'Star Wars: Episode VII - The Force Awakens', 'Terminator 2: Judgment Day', 'The Chaser', 'The Favourite', 'The Girl Who Leapt Through Time', 'The Legend of 1900', 'The Little Prince', 'The Piano Teacher', 'The Player', 'Underground']